Gestión de Citas Médicas.json
{
  "name": "Gestión de Citas Médicas (Supabase)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('Buscar cita existente').item.json }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "688efdec-8217-405a-a73a-8aa2693dcbb9",
      "name": "IF - Disponible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1120,
        -368
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"disponible\": \"true\"\n}",
        "options": {}
      },
      "id": "11ecef7c-0614-473f-8cf7-7f33bccfbbef",
      "name": "Responder Disponible",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -832,
        -496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": \"true\"\n}",
        "options": {}
      },
      "id": "26747604-60ec-4dd5-ae6f-bf09e8fed9ad",
      "name": "Responder Agendar Cita",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -368,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "citas_medicas",
        "filters": {
          "conditions": [
            {
              "keyName": "fecha_cita",
              "keyValue": "={{ $json.body.fecha_cita }}"
            },
            {
              "keyName": "hora_cita",
              "keyValue": "={{ $json.body.hora_cita }}"
            },
            {
              "keyName": "medico",
              "keyValue": "={{ $json.body.medico }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1408,
        -368
      ],
      "id": "7529c46d-bfb2-4f3c-946e-1ff7e03cdaf9",
      "name": "Buscar cita existente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pacientes",
        "filters": {
          "conditions": [
            {
              "keyName": "nombre",
              "keyValue": "={{ $json.body.paciente_nombre }}"
            },
            {
              "keyName": "email",
              "keyValue": "={{ $json.body.paciente_email }}"
            },
            {
              "keyName": "telefono",
              "keyValue": "={{ $json.body.paciente_telefono }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1120,
        80
      ],
      "id": "e6aefe5d-4565-456e-892e-8ca69221fe3b",
      "name": "Buscar paciente",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "pacientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $json.body.paciente_nombre }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.paciente_email }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $json.body.paciente_telefono }}"
            },
            {
              "fieldId": "edad",
              "fieldValue": "={{ $json.body.paciente_edad }}"
            },
            {
              "fieldId": "genero",
              "fieldValue": "={{ $json.body.paciente_genero }}"
            },
            {
              "fieldId": "direccion",
              "fieldValue": "={{ $json.body.paciente_direccion }}"
            },
            {
              "fieldId": "fecha_registro",
              "fieldValue": "={{ $json.body.fecha_cita }}"
            },
            {
              "fieldId": "activo",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1120,
        -144
      ],
      "id": "dedf9d2a-844f-49ae-803b-ae78562c9754",
      "name": "Crear paciente",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "citas_medicas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "paciente_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "paciente_nombre",
              "fieldValue": "={{ $json.nombre }}"
            },
            {
              "fieldId": "paciente_email",
              "fieldValue": "={{ $json.email }}"
            },
            {
              "fieldId": "paciente_telefono",
              "fieldValue": "={{ $json.telefono }}"
            },
            {
              "fieldId": "fecha_cita",
              "fieldValue": "={{ $('IF - Paciente nuevo?').item.json.body.fecha_cita }}"
            },
            {
              "fieldId": "hora_cita",
              "fieldValue": "={{ $('IF - Paciente nuevo?').item.json.body.hora_cita }}"
            },
            {
              "fieldId": "medico",
              "fieldValue": "={{ $('IF - Paciente nuevo?').item.json.body.medico }}"
            },
            {
              "fieldId": "especialidad",
              "fieldValue": "={{ $('IF - Paciente nuevo?').item.json.body.especialidad }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "agendada"
            },
            {
              "fieldId": "notas",
              "fieldValue": "={{ $('IF - Paciente nuevo?').item.json.body.notas }}"
            },
            {
              "fieldId": "fecha_solicitud",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "fecha_confirmacion",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -832,
        -32
      ],
      "id": "5d27f24e-0c4c-4fc8-a7fb-1641240d2cd9",
      "name": "Crear cita",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "verificar_disponibilidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "88727cda-0a9b-4b7f-af45-b854142f6c4a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed79e67b-6371-4b60-990b-0f02746799d7",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "agendar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4f47d003-8a43-4527-b02a-68ca4e227e08",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "listar_pacientes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53f65eee-e3d9-4710-a745-ddd5ed8b87b4",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "editar_paciente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a7d7cad-90a3-49ce-866a-1aa1fe885a5f",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "eliminar_paciente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec4dfefa-24a1-4b36-a6c5-1a56c776d9e8",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "datos_reportes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "81135734-3741-4b72-b92b-d72ac087b17e",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "listar_citas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7bc9f9fc-c198-4682-9b86-7c4b94453be3",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "listar_citas_paciente",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5e8f9c52-040b-4f68-8e34-2876dadb0559",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "editar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d8d7fc1-82bc-4831-8342-5d098886b2bc",
                    "leftValue": "={{ $json.body.accion }}",
                    "rightValue": "eliminar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2096,
        528
      ],
      "id": "5114fd68-b9c0-41e3-8073-f70fd5377471",
      "name": "Verificar accion"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"disponible\": \"false\"\n}",
        "options": {}
      },
      "id": "efc857e2-713d-48d6-aaf6-e2fb569d77a5",
      "name": "Responder No Disponible",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -832,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.paciente_nuevo }}",
              "operation": "=equal",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "f41abdb5-dd28-40c9-92a9-0f2fe0570524",
      "name": "IF - Paciente nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1408,
        -32
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.pacientes }}",
        "options": {}
      },
      "id": "aebdc149-ce64-45f2-81e2-72188ce5fd93",
      "name": "Responder Lista Pacientes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -880,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const busqueda =  $('Verificar accion').first().json.body.busqueda;\nconst pacientes = $input.all().flatMap(i => i.json);\n\nlet resultado = pacientes;\n\nif (busqueda) {\n  const filtro = busqueda.toLowerCase();\n  resultado = pacientes.filter(p =>\n    (p.nombre && p.nombre.toLowerCase().includes(filtro)) ||\n    (p.email && p.email.toLowerCase().includes(filtro))\n  );\n}\n\nreturn {\n  pacientes: resultado\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        416
      ],
      "id": "df08f93b-6148-4620-bff8-5f5e180dc201",
      "name": "Filtrar paciente"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "citas_medicas",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        1136
      ],
      "id": "459a2963-0016-4a4a-ae14-e24a9a1da2d9",
      "name": "Obtener citas",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "pacientes",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        416
      ],
      "id": "374c8d97-0984-4949-b1e8-42b53f3f4d01",
      "name": "Obtener pacientes",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const citas = $input.all().map(i => i.json);\n\nconst citasPorMedico = new Map();\nconst citasPorEspecialidad = new Map();\nconst citasPorDia = new Map();\n\nfor (const c of citas) {\n  const medico = c.medico || \"Desconocido\";\n  const especialidad = c.especialidad || \"Sin especialidad\";\n  const fecha = c.fecha_cita ? new Date(c.fecha_cita) : null;\n  const dia = fecha ? fecha.toLocaleDateString('es-ES', { weekday: 'short' }) : \"—\";\n\n  citasPorMedico.set(medico, (citasPorMedico.get(medico) || 0) + 1);\n  citasPorEspecialidad.set(\n    especialidad, (citasPorEspecialidad.get(especialidad) || 0) + 1\n  );\n  citasPorDia.set(dia, (citasPorDia.get(dia) || 0) + 1);\n}\n\nreturn {\n  reportes: {\n    citas_por_medico: Object.fromEntries(citasPorMedico),\n    citas_por_especialidad: Object.fromEntries(citasPorEspecialidad),\n    citas_por_dia: Object.fromEntries(citasPorDia)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1136
      ],
      "id": "afae609b-9e1f-47b2-885e-34cba31e8c02",
      "name": "Preparar datos"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.reportes }}",
        "options": {}
      },
      "id": "ba5b1fa6-6b92-4210-a71c-9f14bca596a9",
      "name": "Responder Datos Reportes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -880,
        1136
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.citas }}",
        "options": {}
      },
      "id": "3ef3b5eb-715b-4085-a8e5-51169573cbcd",
      "name": "Responder Lista Citas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -880,
        1328
      ]
    },
    {
      "parameters": {
        "jsCode": "const citasLimpias = $input.all().map(item => {\n  const data = item.json;\n\n  return {\n    paciente_nombre: data.paciente_nombre || \"No registrado\",\n    fecha_cita: data.fecha_cita || data.fecha || \"Sin fecha\",\n    hora_cita: data.hora_cita || data.hora || \"Sin hora\",\n    medico: data.medico || \"Sin asignar\",\n    especialidad: data.especialidad || \"General\",\n    estado: data.estado || \"Pendiente\"\n  };\n});\n\nreturn [{\n  json: {\n    citas: citasLimpias,\n    total: citasLimpias.length,\n    generado_en: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1328
      ],
      "id": "dfce6a56-e008-41ea-8238-ceea8f7c40da",
      "name": "Preparar lista"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "citas_medicas",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        1328
      ],
      "id": "9a14e420-61a5-46e1-8416-6a1c6b21b11c",
      "name": "Obtener citas.",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const citas = $input.all().flatMap(i => i.json);\nlet resultado = citas;\n\nreturn {\n  citas: resultado\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1520
      ],
      "id": "1c01cef7-37fe-4235-8c83-b3caddb55c3d",
      "name": "Preparar citas paciente"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.citas }}",
        "options": {}
      },
      "id": "16f2dc9e-e99f-4f4b-bcc0-e699e38a8c11",
      "name": "Responder Citas Paciente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -880,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "citas_medicas",
        "filters": {
          "conditions": [
            {
              "keyName": "paciente_id",
              "keyValue": "={{ $json.body.paciente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1360,
        1520
      ],
      "id": "e6afb070-145d-46ca-9c01-ea0864b7b615",
      "name": "Citas de paciente",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "citas_medicas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.cita_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        1904
      ],
      "id": "5be3f7fb-ffb5-4c20-a24c-237bb987b986",
      "name": "Eliminar cita",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "id": "6687bb76-037d-460b-820d-cd49848b1443",
      "name": "Responder Cita Eliminada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -992,
        1904
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "id": "2f308f35-aafd-408d-b2d7-9447cef0f9ef",
      "name": "Responder Cita Editada",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -992,
        1712
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "citas_medicas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.cita_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "fecha_cita",
              "fieldValue": "={{ $json.body.fecha_cita }}"
            },
            {
              "fieldId": "hora_cita",
              "fieldValue": "={{ $json.body.hora_cita }}"
            },
            {
              "fieldId": "estado",
              "fieldValue": "={{ $json.body.estado }}"
            },
            {
              "fieldId": "notas",
              "fieldValue": "={{ $json.body.notas }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        1712
      ],
      "id": "9ae6fd0b-0301-4857-9d8d-42ac1669be72",
      "name": "Editar Cita",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.paciente_email}}",
        "subject": "Confirmación de cita",
        "message": "=Estimado/a {{ $json.paciente_nombre }}, Le confirmamos su cita médica con los siguientes detalles:\nFecha: {{ $json.fecha_cita }}\nHora: {{ $json.hora_cita }}\nMédico: {{ $json.medico }}\nEspecialidad: {{ $json.especialidad }}\nPor favor, llegue 10 minutos antes de su cita y no olvide traer su documento de identidad y cualquier historial médico relevante.\n\nSi necesita reprogramar o cancelar su cita, no dude en contactarnos a este correo.Agradecemos su confianza y le esperamos puntualmente.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -592,
        -32
      ],
      "id": "8e0352fd-73e1-4532-ac97-58019f700bf0",
      "name": "Enviar correo",
      "webhookId": "14b02a08-1e6f-4dfb-be7b-315a71f39468",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## **PROCESAMIENTO DE CITAS**",
        "height": 816,
        "width": 1328,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        -544
      ],
      "typeVersion": 1,
      "id": "97320fb6-2ed1-4a9d-961d-2f935c0793a1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## **MANTENEDOR PACIENTES**",
        "height": 656,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        336
      ],
      "typeVersion": 1,
      "id": "5446b655-a791-49f3-9f94-755f2ee2420c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## **MANTENEDOR CITAS**",
        "height": 1008,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        1072
      ],
      "typeVersion": 1,
      "id": "26f9ca23-3bec-4aa5-b9db-0d008419b47e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "citas_medicas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e6a0cc6c-7d25-49dd-85c2-297bcf03bb4d",
      "name": "Webhook - Citas Medicas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2416,
        656
      ],
      "webhookId": "7d487199-1881-4b7e-92aa-d717a84284e4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pacientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.paciente_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nombre",
              "fieldValue": "={{ $json.body.nombre }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "telefono",
              "fieldValue": "={{ $json.body.telefono }}"
            },
            {
              "fieldId": "edad",
              "fieldValue": "={{ $json.body.edad }}"
            },
            {
              "fieldId": "genero",
              "fieldValue": "={{ $json.body.genero }}"
            },
            {
              "fieldId": "direccion",
              "fieldValue": "={{ $json.body.direccion }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        608
      ],
      "id": "6ace4af7-78e1-4f0f-8f4a-9ea214a4b9c5",
      "name": "Editar Paciente",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "pacientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.paciente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        800
      ],
      "id": "a2648bf2-fabb-4d6c-961b-25703102c4cf",
      "name": "Eliminar Paciente",
      "credentials": {
        "supabaseApi": {
          "id": "DiAoIcKCYOrjHoYW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "id": "f1fe5cbb-14cc-429c-a4eb-87b17c6af03d",
      "name": "Responder Paciente Eliminado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1008,
        800
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true\n}",
        "options": {}
      },
      "id": "cd742906-328c-4c7f-a82c-8d0ba60c53b8",
      "name": "Responder Paciente Editado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1008,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "IF - Disponible?": {
      "main": [
        [
          {
            "node": "Responder Disponible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder No Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar cita existente": {
      "main": [
        [
          {
            "node": "IF - Disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar paciente": {
      "main": [
        [
          {
            "node": "Crear cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear cita": {
      "main": [
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear paciente": {
      "main": [
        [
          {
            "node": "Crear cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar accion": {
      "main": [
        [
          {
            "node": "Buscar cita existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Paciente nuevo?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener pacientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Editar Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eliminar Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener citas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener citas.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Citas de paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Editar Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eliminar cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Paciente nuevo?": {
      "main": [
        [
          {
            "node": "Crear paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar paciente": {
      "main": [
        [
          {
            "node": "Responder Lista Pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener pacientes": {
      "main": [
        [
          {
            "node": "Filtrar paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener citas": {
      "main": [
        [
          {
            "node": "Preparar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos": {
      "main": [
        [
          {
            "node": "Responder Datos Reportes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar lista": {
      "main": [
        [
          {
            "node": "Responder Lista Citas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener citas.": {
      "main": [
        [
          {
            "node": "Preparar lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar citas paciente": {
      "main": [
        [
          {
            "node": "Responder Citas Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citas de paciente": {
      "main": [
        [
          {
            "node": "Preparar citas paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar cita": {
      "main": [
        [
          {
            "node": "Responder Cita Eliminada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar Cita": {
      "main": [
        [
          {
            "node": "Responder Cita Editada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar correo": {
      "main": [
        [
          {
            "node": "Responder Agendar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Citas Medicas": {
      "main": [
        [
          {
            "node": "Verificar accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar Paciente": {
      "main": [
        [
          {
            "node": "Responder Paciente Editado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar Paciente": {
      "main": [
        [
          {
            "node": "Responder Paciente Eliminado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a65eace-cd6d-4fac-aa24-b5d5c62af3ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4354bc6765f8e53698ebe41f8a14d19b37ca17d9acc8efbacc503e23587899c8"
  },
  "id": "dcG6hk3FU9xIHRb9",
  "tags": []
}
